/* Elasticsearch GUI / Facetted Search */

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-loader {
    width: 100%;
    height: 100%;
    padding: 1em;
    padding-left: 35%;
    text-align: "center";
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

div.App div.sui-layout-header {
   border-bottom: none;
   padding: 16px 24px;
}

div.App div.sui-layout-body {
   border-top: 1px solid #eee;
}

fieldset.sui-facet legend.sui-facet__title {
   margin-bottom: 0px !important;
}

.sui-select {
   font-size: 120% !important;
}

i.text-danger {
   color:#dc6027;
}

/* Export Plugins CSS */
.export_plugins_select{
   width: 12em !important;
   font-weight: 400;
   margin-top: 0;
   padding-right: 5px !important;

   line-height: 1.5;
   font-size: 120%;

   background-color: #f8f8f8;
   border-radius: 4px;
}
.export_plugins_select [class*="-placeholder"]{
   font-weight: 700;
   color:rgb(51,51,51);
}
.export_plugins_select [class*="-indicatorContainer"]{
   color:rgb(51,51,51);
   padding: 6px;
}
.export_plugins_select [class*="-menu"] > div {
   color:rgb(51,51,51);
   background-color: white;
   /*width: 200px;*/
   width: 12em;
}
.export_plugins_select [class*="-menu"] > div> div {
   color:rgb(51,51,51);
   background-color: white;
}
.export_plugins_select [class*="-menu"] > div> div:hover {
   color:rgb(51,51,51);
   font-weight: 700;
   background-color: #f8f8f8;
}
.export_plugins_select [class*="-singleValue"]{
   font-weight: 700;
   color:rgb(51,51,51);
}
.export_plugins_select > div > div {
   width: 100%; 
   color:rgb(51,51,51);
   background-color: #f8f8f8;
   border: 1px solid #a6a6a6;
   border-radius: 4px;
   display: flex;
   align-items: stretch;
   justify-content: space-between;
}
.export_plugins_select div div div span[class*="-indicatorSeparator"] {
   display: none;
}
img.export-loader-img{
   position: absolute;
   top: 50%;
   left: 50%;
   width: 10%;
   z-index:1000;
}

.sui-sorting{
   /* width: 25% !important; */
   width: 12em !important;
}

.sui-sorting .sui-select{
  margin-top: 0;
  padding-right: 5px !important;
}

.sui-result {
  padding: 0 0 !important;
  margin-top: 15px !important;
}

.sui-result__header a .sui-result__title,
.sui-result__header a:visited .sui-result__title {
  font-size: 150%;
  font-weight: bolder;
  color: #3353b7;
}

.sui-result__details {
  width: 100%;
}

.sui-paging-info {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding-left: 5px;
  padding-right: 5px;
}

.sui-multi-checkbox-facet__checkbox {
  margin-right: 0.5em !important;
}

.sui-select__single-value {
   font-family: Arial, Helvetica, FreeSans, sans-serif;
}

input.sui-search-box__submit{
   padding: 6px 12px;
   font-size: 14px;
   font-family: Arial, Helvetica, FreeSans, sans-serif;
   margin-left: 20px;
   border-radius: 3px;
   background: #3353b7;
}

input.sui-search-box__submit:hover{
   background: #0028a5;
}

select#export_plugins {
   border: none;
   background: rgb(248, 248, 248);
}

div#reset_filter{
   padding: 6px 12px;
   margin: 0px 0px 10px 0px;
   font-size: 14px;
   font-weight: 700;
   font-family: Arial, Helvetica, FreeSans, sans-serif;
   border-radius: 4px;
   border-color: rgb(166, 166, 166);
   /* color: white; /*
   color: rgb(51, 51, 51);
   /*background: #3353b7; */
   background: rgb(248, 248, 248);
}

div#reset_filter:hover{
   /* background: #0028a5; */
   color: rgb(51, 51, 51);
   background: rgb(248, 248, 248);
}

div#reset_filter a, 
div#reset_filter a:visited,
div#reset_filter a:active {
   /* color: white; */
   color: rgb(51, 51, 51);
   background: rgb(248, 248, 248);
   font-weight: 700;
}

div#export{
   /* padding: 6px 12px; */
   padding-left: 5px;
   padding-right: 5px;
   margin: 0px 0px 0px 0px;
   font-size: 14px;
   font-weight: 700;
   font-family: Arial, Helvetica, FreeSans, sans-serif;
   border-radius: 4px;
   border-color: rgb(166, 166, 166);
   color: rgb(51, 51, 51);
   background: rgb(248, 248, 248);
}   

div#export span#export_tiny {
}

div#export:hover{
   /* background: #0028a5; */
   color: rgb(51, 51, 51);
   background: rgb(248, 248, 248);
}

div#export a, 
div#export a:visited,
div#export a:active {
   color: rgb(51, 51, 51);
   background: rgb(248, 248, 248);
   font-weight: 700;
}

span#beta:after {
   content: " Beta";
   background: yellow;
   padding: 3px;
   border-radius: 16px;
}

input.sui-search-box__text-input{
   padding: 6px 12px;
   font-family: Arial, Helvetica, FreeSans, sans-serif;
   font-weight: normal;
   color: rgb(85, 85, 85);
   border-radius: 0px;
}

div.sui-search-box__autocomplete-container{ 
   margin-top: 0px;
   padding-top: 5px;
}

div.sui-search-box__autocomplete-container ul li:hover,
div.sui-search-box__autocomplete-container ul li:hover em { 
   color: #000000;
   background: rgba(37,139,248,.08)
}

ul.sui-result__details li dl.dreiklang{ 
   display: grid;
   grid-template-columns: auto;
   width: 100%;
   margin-bottom: 0px;
}
ul.sui-result__details li dl.dreiklang > a{ 
   display: none; /* dreiklang ugly bugfix No 1 */
   border: 1px double red;
}
ul.sui-result__details li dl.dreiklang dt.dreiklang_title  {
   /*border: 1px solid green;*/
   grid-column-start: 1;
   font-size: 120%;
   padding-top: 0px;
}
ul.sui-result__details li dl.dreiklang dd.dreiklang_oa_lock  {
   /*border: 1px solid blue;*/
   grid-column-start: 99;
   grid-row: span 3;
   width: 70px;
   padding-top: 10px;
}
ul.sui-result__details li dl.dreiklang dd.dreiklang_img  {
   /*border: 1px solid lime;*/
   grid-column-start: 100;
   grid-row: span 3;
   width: 90px;
   padding-top: 10px;
}
ul.sui-result__details li dl.dreiklang dd.dreiklang_abstract  {
   /*border: 1px solid lime;*/
   grid-column-start: 1;
   grid-row: span 3;
}
ul.sui-result__details li dl.dreiklang dd.dreiklang_fulltext  {
   /*border: 1px solid lime;*/
   grid-column-start: 1;
   grid-row: span 3;
}

ul#search_more_panel {
   list-style: none;
   padding-left: 10px;
   padding-top: 3px;
   padding-bottom: 0px;
}
ul#search_more_panel li{
   display: inline; /* li nebeneinander anzeigen */
   font-size: 12px;
   margin-right: 1em;
}
